<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/flights/<%= flight._id %>?_method=PUT" method="POST">
    <label for="airline-input">Airline:</label>
    <select name="airline" value="<%= flight.airline  %> " id="airline-input">
      <option value="American">American</option>
      <option value="Southwest">Southwest</option>
      <option value="United">United</option>
    </select>
    <label for="airport-input">Airport:</label>
    <select name="airport" value="<%= flight.airport %> " id="airport-input" default value="DEN">
      <option value="DEN">DEN</option>
      <option value="DFW">DFW</option>
      <option value="AUS">AUS</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
      <option value="ATL">ATL</option>
    </select>
    <label for="flight-No-select">Flight No:</label>
    <input type="text" name="flightNo" value="<%= flight.flightNo %>" id="flight-No-input">
    <label for="date-input">Date:</label>
    <input type="datetime-local" name="departs" value=" <%= flight.Date %>" id="departs-input">
    <button type="submit">Update Flight</button>
  </form>
</main>


<%- include('../partials/footer') %>