<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <h2><%= flight.flightNo %> </h2>
    <tbody>
        <div>
          <td>Airline:</td>
          <td><%= flight.airline %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>Airport:</td>
          <td><%= flight.airport %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>Departs:</td> 
          <td><%= flight.departs %></td>
          <td></td>
        </div>
      </tbody>
      <span>Food:</span>
      <ul>
        <% flight.food.forEach(foodProduct => { %>
          <li><%= foodProduct.name %></li>
        <% }) %>
      </ul>
    </section>
    <form id="add-per-to-food" action="/flights/<%= flight._id %>/meals " method="POST">
      <select name="mealId">
        <% meals.forEach(meal => { %>
          <option value="<%= meal._id %>"><%= meal.name %></option>
        <% }) %>
      </select>
      <button type="submit">Add Meal</button>
    </form>
  <section>
    <form
      id="add-ticket-form"
      action="/flights/<%= flight._id  %>/tickets"
      method="POST"
      >
      <label for="seat-select">Seat:</label> 
      <input name="seat" id="seat-select" required pattern="[A-F][1-9]\d?">
      <label for="price-select">Price:</label>
      <input name="price" id="price-select">
      <button type="submit">Add Ticket</button>
    </form>
  </section>
  <% if (flight.tickets.length) { %>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Seat</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% flight.tickets.forEach(ticket =>  { %>
          <tr>
            <td><%= ticket.createdAt.toLocaleDateString() %></td>
            <td><%= ticket.seat %></td>
            <td><%= ticket.price %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>All Seats Available</h3>
  <% } %>
  
  <a href="/flights/<%= flight._id %>/edit ">Edit Flight</a>
  <h3><a href="/flights">Go Back</a></h3>
</main>
<%- include('../partials/footer') %>